#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}
.login.login-1 .login-form {
    width: 100%;
    max-width: 480px !important;
}
.even {
	background: #d9ead3;
}
.odd {
	background: #f9fff7;
}
.text-green {
	color: #34765b;
}
.btn-green {
	background: #34765b;
	color: #ffff;
	border-radius: 10px;
}
input[type='file'] {
  opacity:0    
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}




.cm{
    /*padding-top: 298px;*/
    padding-top: 252px;
}
.min-cm{
    /*margin-left: 104px;*/
    padding-top: 236px;
}
.cm-name{
    width: 269px;
    padding: 5px;
 font-size: 14px;
    margin-top: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    color: #297430;
    
}

.logo{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 14%;
    margin-top: 19px;
}
/*.heading{
    text-align: center;
    margin-top: 5px;
    color: #297430;
        font-weight: 500;
}*/
.login-box{
     width: 100%;
    padding: 25px;
    margin-top: -56px;
   background: rgba(255, 255, 255, 0.3);
    color: #297430;
    
    
}
.detail{
    width: 100%;
    padding: 5px;
 font-weight: 500;
    margin-top: 50px;
   height: 460px;
    background: rgba(255, 255, 255, 0.3);
    color: #297430;
}
.detail1{
    
   font-weight: 400px;
    margin-top: 10px;
   
}
.list{
    width: 100%;
    height: 460px;
    padding: 5px;
 font-weight: 400px;
    margin-top: 50px;
   background: rgba(255, 255, 255, 0.3);
    color: #297430; 
}